* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background: linear-gradient(to bottom, rgb(164, 250, 255), rgb(114, 114, 251));
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

header {
  background-color: black;
  color: rgb(21, 11, 208);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 0;
  margin-right: 0%;
  margin-left: 13%;
}

.logo {
  background-color: #f7f7ff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  padding: 5px;
  color: #fff;
  margin-right: 30px;
  border-bottom: 2px solid white; 
}



nav a:hover {
  text-decoration: underline #0008ec;
 
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.page-section .page-content p {
  font-size: 2em;

}
.page-section#about .page-content p {
  font-size: 1.2em; /
}
.page-section .page-content h2 {
  font-size: 4em;
}
.page-section h2 {
  font-size: 2.5em;
}

.hero-banner {
  position: relative;
  background-image: url('/starter/challenge2/images/02-hero-bg.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  text-align: center;
}

.hero-banner::before {
  content: 'Front-End Developer from Bristol, UK';
  display: inline-block;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.page-section {
  display: flex;
  padding: 10px;
  position: relative;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.page-section::before {
  content: '';
  position: absolute;
  top: 5%;
  left: 10%;
  transform: translateY(-0%);
  width: 4px;
  height: 90%;
  background-color: #000;
  margin-right: 50%;
  margin-left: 10%;
}

.page-content {
  flex: 1;
  display: flex;
  padding: 5px;
  position: relative;
  flex-direction: row;
  width: 80%;
  margin-bottom: 10%;
  margin-left: 20%;
}

.page-section#about .page-content {
  margin-right: 0%;
 margin-left: 10%;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px; 
}



.work-item {
  position: relative;
  overflow: hidden;
  flex: 1 1 calc(33.3333% - 20px);
  margin: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border: 2px solid #ffffff;
}



.work-item img {
  display: block; 
  margin: 0; 
  width: 100%;
  max-height: 200px;  
  border: 0px solid #001a8e; 
}





.work-item .text-box {
  background-color: #0008ec;
  padding: 5px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work-item .text-box p {
  margin: 0;
  color: white;
  font-size: 0.9em;
}

.work-item .text-box p:first-child {
  font-weight: bold;
  font-size: 1.2em;
}



.work-item .text-box p:last-child {
  font-size: 0.8em;
}

.work-item.surf-report {
  flex: 1 0 100%;
}

.work-item.surf-report img {
  width: 100%;
  max-height: 300px;
  border: 0px solid #0008ec;
}

.work-item.led-wall,
.work-item.calculator,
.work-item.pastel-puzzles,
.work-item.run-buddy {
  flex: 1 1 calc(50% - 20px);
  border: 1px solid #ffffff;
}

.work-item.led-wall img,
.work-item.calculator.img,
.work-item.pastel-puzzles img,
.work-item.run-buddy img {
  max-height: 200px;
}

.work-item:hover {
  transform: scale(1.05);
}


@media screen and (max-width: 768px) {
  .work-item {
    flex-basis: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .work-item {
    flex-basis: calc(100% - 20px);
  }
}

.contact-links {
  list-style-type: none;
  padding: 0%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 0%;
  margin-left: -10%;
  margin-top: 10%;
  margin-right: 0%;
  margin-bottom: -20%;
}

.contact-links li {
  margin-right: 30px;
}



.contact-links a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #0008ec;
  transition: border-color 0.3s ease-in-out;
}

.contact-links a:hover {
  border-color: black;
}
